:root {
  --headings-font-family: "Poppins", sans-serif;
  --paragraph-font-family: "Poppins", sans-serif;
  --primary-text-color: #000;
  --secondary-text-color: #272044;
  --tertiary-text-color: #fff;
  --primary-background-color: #272044;
  --secondary-background-color: #94b1aa;
  --tertiary-background-color: #edfaf7;
  --btn1-color: #94b1aa;
  --btn2-color: #f4f6f6;
  --btn3-color: #fdf6f6;
  --drop-shadow: drop-shadow(2px 4px 1px rgb(0 0 0 / 0.3));
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

body {
  margin: 0;
  background: var(--primary-background-color);
}

h1,
h2,
h3,
button {
  font-family: var(--headings-font-family);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../images/pexels-pipo-stoltz-turning-torso.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--tertiary-text-color);
  text-align: center;
  padding: 12.5rem 0;
}

header h1 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
  margin: 1.875rem;
}

header h2 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.5;
}

header h3 {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5;
}

button {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-color: #fff;
  color: var(--primary-text-color);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.top-text {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 5px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  display: block;
}

.grid {
  display: grid;
  grid-gap: 0.625rem;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.embed {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

section.secondary {
  background: #f8f8f8;
}

main {
  background-color: #fff;
}

main h2 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: var(--secondary-text-color);
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0 1.5rem;
}

main h3 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.5;
  color: var(--secondary-text-color);
  margin: 0 1.5rem;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--secondary-text-color);
  opacity: 0.7;
  margin: 1.5rem;
}

.text-center {
  text-align: center;
}

.card {
  background: white;
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}

footer {
  color: var(--tertiary-text-color);
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.7),
      rgba(39, 32, 68, 0.6)
    ),
    url("../images/pexels-pipo-stoltz-turning-torso-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6.25rem;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  margin-right: 20px;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: #fff;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 3.75rem 0;
  }

  header h1 {
    font-size: 3rem;
  }

  header h2 {
    font-size: 1.25rem;
  }

  header h3 {
    font-size: 1rem;
  }

  footer h3 {
    font-size: 1.3rem;
    margin-left: 1rem;
  }

  footer p,
  a {
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  footer {
    padding: 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  main h2,
  p {
    margin: 2rem;
  }

  main h3 {
    font-size: 2.5rem;
    margin-left: 2rem;
  }

  main p {
    font-size: 1.5rem;
  }

  .img-responsive {
    max-width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .display-none {
    display: none;
  }
}
