@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
:root {
  --headings-font-family: "Poppins", sans-serif;
  --paragraph-font-family: "Poppins", sans-serif;
  --primary-text-color: #000;
  --secondary-text-color: #272044;
  --tertiary-text-color: #fff;
  --primary-background-color: #272044;
  --secondary-background-color: #f8f8f8;
  --border-color: #272044;
  --btn1-color: #fff;
  --btn2-color: #462cb3;
  --drop-shadow: drop-shadow(2px 4px 1px rgb(0 0 0 / 0.3));
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  background: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headings-font-family);
}

p,
button,
a {
  font-family: var(--paragraph-font-family);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../images/pexels-pipo-stoltz-turning-torso.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--tertiary-text-color);
  text-align: center;
  padding: 12.5rem 0;
}

header h1 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
  margin: 1.875rem;
}

header h2 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.5;
}

header h3 {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5;
}

button:hover {
  cursor: pointer;
}

.btn1-color {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-color: #fff;
  color: var(--primary-text-color);
}

.btn1-color:hover {
  background-color: var(--btn2-color);
  color: var(--btn1-color);
  transition: 1s;
}

.btn2-color {
  display: block;
  color: var(--tertiary-text-color);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.313rem;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 1rem;
  background-color: var(--btn2-color);
  text-decoration: none;
}

.btn2-color:hover {
  background-color: var(--btn1-color);
  color: var(--primary-text-color);
  border: solid rgba(39, 32, 68, 0.4);
  transition: 1s;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.top-text {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.img-responsive {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.aspect-ratio {
  max-width: 100%;
  aspect-ratio: 1 / 1;
}

.black-white {
  filter: grayscale(100%);
}

.black-white:hover {
  filter: grayscale(0);
  transition: 1s;
}

.grid {
  display: grid;
  grid-gap: 0.625rem;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.embed {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.instagram-embeds {
  margin: 1.875rem 0;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 30px;
}

section.secondary {
  background: var(--secondary-background-color);
}

main {
  background-color: #fff;
}

main h2 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: var(--secondary-text-color);
  opacity: 0.7;
  text-transform: uppercase;
  margin: 0 1.5rem;
}

main h3 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.5;
  color: var(--secondary-text-color);
  margin: 0 1.5rem;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--primary-text-color);
  opacity: 0.9;
  margin: 1.5rem;
}

.text-center {
  text-align: center;
}

.card {
  background: var(--tertiary-text-color);
  margin: 1.875rem 0;
  filter: var(--drop-shadow);
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 1.875rem;
}

.card-footer {
  padding: 0 1.875rem 1.875rem;
}

footer {
  color: var(--tertiary-text-color);
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.7),
      rgba(39, 32, 68, 0.6)
    ),
    url("../images/pexels-pipo-stoltz-turning-torso-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6.25rem;
}

footer h3 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

footer p {
  font-weight: 400;
  font-size: 1.1rem;
  opacity: 0.7;
  margin-right: 1.25rem;
  line-height: 1.5rem;
}

footer a {
  color: #fff;
  opacity: 0.7;
}

.icons a {
  font-size: 1.2rem;
  text-decoration: none;
}

.icons a:hover {
  font-size: 1.5rem;
}

@media (max-width: 960px) {
  header {
    padding: 3.75rem 0;
  }

  header h1 {
    font-size: 2.5rem;
  }

  header h2 {
    font-size: 1.2rem;
  }

  header h3 {
    font-size: 1rem;
  }

  footer h3 {
    font-size: 1.3rem;
  }

  footer p,
  a {
    font-size: 1.2rem;
  }

  footer {
    padding: 2rem;
  }

  main h2 {
    font-size: 1rem;
  }

  main h3 {
    font-size: 1.7rem;
  }

  main p {
    font-size: 1rem;
  }

  section {
    padding: 1.875rem;
  }

  .container {
    padding: 0 1rem;
    width: 100%;
  }

  section.secondary {
    margin: 0;
  }

  .top-text {
    font-size: 1rem;
  }

  .grid {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .display-none {
    display: none;
  }

  .embed {
    aspect-ratio: 16 / 9;
    width: fit-content;
    margin: 0 auto;
  }

  .black-white {
    filter: grayscale(0);
  }
}
